<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rajendra.vacationtourapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/travel_logo"
        android:label="Smart Travel"
        android:roundIcon="@mipmap/travel_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.ChangePasswordActivity"
            android:theme="@style/Add"
            android:exported="true" />
        <activity
            android:name=".Views.AddFoodActivity"
            android:exported="true"
            android:theme="@style/Add" />
        <activity
            android:name=".Views.AddDataActivity"
            android:exported="true"
            android:theme="@style/Add" />
        <activity
            android:name=".Views.ReviewActivity"
            android:exported="true"
            android:theme="@style/Profile" />
        <activity
            android:name=".Views.ProfileActivity"
            android:exported="true"
            android:theme="@style/Profile" />
        <activity
            android:name=".Views.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Login.LoginScreen"
            android:exported="true" />
        <activity
            android:name=".Views.DetailsActivity"
            android:exported="true"
            android:theme="@style/Profile" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".Login.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>